/* general */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #111;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* header */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
}

.logo-span {
  font-style: italic;
}
.nav-list-header,
.nav-list-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.nav-item-header a {
  color: #111;
}
/* hero section */
#hero-banner {
  background-color: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}
.button-hero-buy,
.button-hero-how {
  font-size: 14px;
  color: #fff;
}
.button-hero-how {
  background-color: transparent;
}
.button-hero-buy {
  background-color: #fd9222;
}
.hero-scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #fff;
}
/* benefits section */
#benefits {
  background-color: #1e1823;
}
.benefits-title {
  font-size: 18px;
  color: #fff;
}
.title-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ingredients section */
.ingredients-title {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.ingredients-text-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.ingredients-span,
.process-span,
.reviews-span,
.footer-span {
  color: #fd9222;
}

.text-ingredients {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
/* process section */
.process-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.recipe-title {
  font-size: 18px;
  line-height: 1.3;
  color: #111;
}

.recipe-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #111;
}
/* reviews section */
.reviews-title {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.review-cards {
  font-size: 18px;
  line-height: 1.3;
  color: #111;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.button-review {
  font-size: 18px;
  color: #111;
  background-color: transparent;
}
/* footer section */
.footer-chocolate {
  background-color: #1e1823;
}
.footer-text {
  font-size: 28px;
}

.address-text {
  font-size: 14px;
}
.footer-text,
.address-text {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;
}
.nav-item-footer a {
    color: #fff;
}